@using EF
@model List<Person>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach(var person in Model)
            {
                <tr><td>@person.FirstName</td><td>@person.LastName</td><td>@person.PersonCompanies.First()?.Company?.Name</td></tr>
            }
    </table>
</body>
</html>
