
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/css/index.css" type="text/css" rel="stylesheet" media="all" />
    
</head>
<body>
    <h1>Hello World</h1>
    <div>
        <h1 class="bla bord">Hello World</h1>
    </div>
    <h1 id="bliep" class="bla ">Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    
    <script src="~/js/index.js"></script>
    <script>
        bla();
    </script>
</body>
</html>
