
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{ 
        Console.WriteLine("Rendering");
    }
    <h1>@Model</h1>
    <h1>View Index van Home (@ViewBag.Bla)</h1>
    <h1>View Index van Home (@ViewData["Bla"])</h1>
</body>
</html>
