@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inject</title>
</head>
<body>
    <div>
        @ViewBag.Message
        @Html.Raw(ViewBag.Message)
    </div>
</body>
</html>
