
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
    <link href="~/index2.css" rel="stylesheet" media="all" />
    <link href="~/index1.css" rel="stylesheet" media="screen and (orientation:portrait) and (max-width:750px)" />

</head>
<body>
    <h1>bootstrap</h1>
    <hr/>
    <h1 class="mooi">Click me</h1>
</body>
</html>
